<?php echo $this->docType(); ?>
<html>
<head>
    <?php echo $this->headTitle('MailQueue Web Interface')->setSeparator(' | '); ?>
    <?php echo $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8'); ?>
    <?php $this->headLink()->appendStylesheet($this->baseUrl('css', 'global', 'global.css')); ?>

    <?php echo $this->headStyle(); ?>
    <?php echo $this->revisionHeadLink(); ?>
    <?php echo $this->revisionHeadScript(); ?>
</head>
<body>
    <h1 class="header">MailQueue</h1>
    <div class="layout">
        <div class="leftSidebar">
            <?php
                if ($this->layout()->loginForm) {
                    echo '<div class="box">' . $this->layout()->loginForm . '</div>';
                }
            ?>
            <div class="box">
                <?php //echo $this->navigation()->AclMenu();
                    //var_dump($this->navigation());
                    //print_r($this->navigation());
                    echo $this->navigation()->menu();
                ?>
        	</div>
        </div>
    	<div class="content">
            <?php echo $this->layout()->content; ?>
    	</div>
    </div>
</body>
</html>