<?php
  echo '<h2>Übersicht Softbounces</h2>';
  echo $this->overviewForm;
  echo PHP_EOL . '<table border = "1">';
  echo '<th>Geändert</th><th>Typ</th><th>Kategorie</th><th>Portal</th><th>E-Mail-Adresse</th><th>Anzahl</th></tr>';
  echo PHP_EOL;
  $this->bounceTable($this->bounces);
  echo '</table>' . PHP_EOL;