<?if ($this->config['google_afs']):?>
    <?if ($this->ads):?>
        <span class="notice">[[Sponsored Links]]</span>
        <div class="gads_container">
            <div class="afc">
                <ul>
                    <?foreach ($this->ads as $ad):?>
                    <li>
                        <a target="_blank" rel="nofollow" href="<?=current($ad->xpath('@url'))?>" onmousedown="logclick('google');">
                            <span class="ad">
                                <span class="head"><?=$ad->LINE1?></span>
                                <span class="nowrap">
                                    <span class="text"><?=$ad->LINE2?></span>
                                </span>
                                <span class="link"><?=current($ad->xpath('@visible_url'))?></span>
                            </span>
                        </a>
                    </li>
                    <?endforeach;?>
                </ul>
            </div>
        </div>
    <?endif;?>
<?endif;?>