<?if ($this->config['google_afs']):?>
    <div id="<?=$this->config['container']?>"></div>
    <script type="text/javascript">
        if (window.googleAds  && googleAds['<?=$this->config['container']?>']) {
            renderGoogle(googleAds['<?=$this->config['container']?>'], '<?=$this->config['container']?>', 0, '[[Sponsored Links]]');
        }
    </script>
<?endif;?>