<script type="text/javascript">
    function google_afs_request_done(google_ads) {

        var google_num_ads = google_ads.length;
    	
        if (google_num_ads <= 0) {
            return;
        }
        
        googleAds = new Array();
        
        <?foreach ($this->ads as $ad):?>
            googleAds['<?=$ad['container']?>'] = google_ads.slice(<?=$ad['start']?>, <?=$ad['end']?>);
        <?endforeach;?>
    	
    	return;
    }
</script>
<script type="text/javascript" src="<?=$this->script?>"></script>