<?if ($this->url):?>
<div id="GAdsInfo" style="display:none">
<!--
<?=$this->url?>

-->
</div>
<?endif;?>

<?if ($this->result):?>
<div id="GAdsRes" style="display:none">
<![CDATA[
<?=$this->result?>
]]>
</div>
<?endif;?>
