<?if ($this->config['google_afs']):?>
    <script type="text/javascript">
    	google_afs_client = '<?=$this->config['google_afs_client']?>';
    	google_afs_ad = 'w<?=$this->advertisment()->googleAfs()->getTotalCount()?>';
        <?if (isset($this->config['google_afs_channel'])):?>
           google_afs_channel = '<?=implode(',', (array) $this->config['google_afs_channel'])?>';
        <?endif;?>
    	google_afs_adtest = '<?=$this->config['google_adtest']?>';
        google_afs_ie = 'utf8';
        google_afs_oe = 'utf8';    	
    	<?if (isset($this->config['google_page']) && $this->config['google_page'] > 0):?>
    	   google_afs_adpage = '<?=$this->config['google_page']?>';
    	<?else:?>
           google_afs_adpage = '1';
    	<?endif;?>
		google_afs_query = decodeURI('<?=$this->advertisment()->filter($this->config['google_afs_query'])?>');
		google_afs_qry_lnk = decodeURI('<?=$this->advertisment()->filter($this->config['google_afs_query'])?>');
    </script>
    <script type="text/javascript" src="http://www.google.com/afsonline/show_afs_ads.js"></script>
<?endif;?>