<?if ($this->config['google_linkunit']):?>
    <?$adConfig = $this->advertisment()->googleAfc()->getNextAd();?>

    <div id="<?=$adConfig['container']?>" class="gads_box"></div>
    <script type="text/javascript">
        <?if (isset($this->config['google_linkunit_channel'])):?>
        google_ad_channel = '<?=$this->config['google_linkunit_channel']?>';
        <?endif;?>
        google_skip = google_rad_adnum;
        google_ad_client = '<?=$this->config['google_linkunit_client']?>';
        google_ad_output = 'js';
        google_max_num_ads = '0';
        google_encoding = 'utf8';
        google_safe = 'medium';
        google_num_radlinks = '<?=$adConfig['count']?>';
        google_max_radlink_len = '35';
        google_num_radlinks_per_unit = '3,4,5';
        google_rl_mode = 'relevance';        
        <?if (isset($this->config['google_language']) && $this->config['google_language']):?>
           google_language = '<?=$this->config['google_language']?>';
        <?endif;?>
        google_adtest = '<?=$this->config['google_adtest']?>';
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
<?endif;?>