<?if (isset($this->config['ca']) && isset($this->config['ca'][$this->type])):?>
    <div id="ca_source_<?=$this->id?>">
        <script type="text/javascript" src="http://ad1.adfarm1.adition.com/js?wp_id=<?=$this->config['ca'][$this->type]?>"></script>
    </div>
<?endif;?>