<?if (isset($this->config['agof_szm']) && $this->config['agof_szm']):?>
    <!-- SZM VERSION="1.5" -->
    <!-- Dieses Online-Angebot unterliegt nicht der IVW-Kontrolle! -->
    <script type="text/javascript">
    <!--
        var IVW="http://<?=$this->config['agof_id']?>.ivwbox.de/cgi-bin/ivw/CP/<?=$this->config['agof_szm']?>;";
        document.write("<img src=\""+IVW+"?r="+escape(document.referrer)+"&d="+(Math.random()*100000)+"\" width=\"1\" height=\"1\" alt=\"szmtag\" />");
    //-->
    </script>
    <noscript>
        <img src="http://<?=$this->config['agof_id']?>.ivwbox.de/cgi-bin/ivw/CP/<?=$this->config['agof_szm']?>;" width="1" height="1" alt="szmtag" />
    </noscript>
    <!-- /SZM -->

    <!--SZMFRABO VERSION="1.1" -->
    <script type="text/javascript">
    <!--
        var szmvars="<?=$this->config['agof_id']?>//CP//<?=$this->config['agof_szm']?>";
    //-->
    </script>
    <script src="http://<?=$this->config['agof_id']?>.ivwbox.de/2004/01/survey.js" type="text/javascript"></script>
    <!-- /SZMFRABO -->
<?endif;?>