<?if (isset($this->config['googleanalytics']) && $this->config['googleanalytics']):?>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript">
        var pageTracker = _gat._getTracker("<?=$this->config['googleanalytics']?>");
        <?if (isset($this->config['google_trackingId'])):?>
           pageTracker._trackPageview('<?=$this->config['google_trackingId']?>');
        <?else:?>
           pageTracker._trackPageview();
        <?endif;?>
    </script>
<?endif;?>