@CHARSET "ISO-8859-1";

body {
    font-family: Arial;
}

h1.header {
    border-bottom: 3px solid #EEE;
}

img {
    border: 0px;    
}

div.leftSidebar {
    float: left;
    width: 160px;
    border: 1px solid black;   
}

div.content {
    margin-left: 180px;
}

div.box {
    font-size: 12px;
    padding: 5px;    
}

div.box #login input[type=text], 
div.box #login input[type=password] {
    font-size: 12px;
    width: 100px; 
}

div.box #login input[type=text], 
div.box #login input[type=password],
div.box #login input[type=submit] {
    border: 1px solid black;    
}