<!-- Begin of Splittest Google Adsense #3994574430 v05 XML -->
<!-- Google Website Optimizer Control Script -->
<script>
function utmx_section(){}function utmx(){}
(function(){var k='3994574430',d=document,l=d.location,c=d.cookie;function f(n){
if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.indexOf(';',i);return c.substring(i+n.
length+1,j<0?c.length:j)}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;
d.write('<sc'+'ript src="'+
'http'+(l.protocol=='https:'?'s://ssl':'://www')+'.google-analytics.com'
+'/siteopt.js?v=1&utmxkey='+k+'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='
+new Date().valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"></sc'+'ript>')})();
</script>
<!-- End of Google Website Optimizer Control Script -->

<!-- Google Website Optimizer Conversion Script -->
<script type="text/javascript">
if(typeof(_gat)!='object')document.write('<sc'+'ript src="http'+
(document.location.protocol=='https:'?'s://ssl':'://www')+
'.google-analytics.com/ga.js"></sc'+'ript>')</script>
<script type="text/javascript">
function gwoAdsenseConversion(){
try {
var gwoTracker=_gat._getTracker("UA-12644932-1");
gwoTracker._trackPageview("/3994574430/goal");
}catch(err){}}</script>
<!-- End of Google Website Optimizer Conversion Script -->

<!-- Google Website Optimizer Modifications -->
<script>utmx_section("mod_1")</script><style type="text/css"></style></noscript>
<script>utmx_section("mod_2")</script><style type="text/css"></style></noscript>
<script>utmx_section("mod_3")</script><style type="text/css"></style></noscript>
<script>utmx_section("mod_4")</script><style type="text/css"></style></noscript>
<script>utmx_section("mod_5")</script><style type="text/css"></style></noscript>
<script>utmx_section("mod_6")</script><style type="text/css"></style></noscript>
<script>utmx_section("mod_7")</script><style type="text/css"></style></noscript>
<script>utmx_section("setup")</script><script type="text/javascript"></script></noscript>
<!-- End of Google Website Optimizer Modifications -->
    
<!-- Google Website Optimizer Tracking Script -->
<script type="text/javascript">
if(typeof(_gat)!='object')document.write('<sc'+'ript src="http'+
(document.location.protocol=='https:'?'s://ssl':'://www')+
'.google-analytics.com/ga.js"></sc'+'ript>')</script>
<script type="text/javascript">
try {
var gwoTracker=_gat._getTracker("UA-12644932-1");
gwoTracker._trackPageview("/3994574430/test");
}catch(err){}</script>

<script type="text/javascript">
var gwo_combination = utmx("combination");
if (isNaN(gwo_combination)) gwo_combination = 0;
var gwo_combination_str = gwo_combination.toString();
try {
var pageTracker = _gat._getTracker("UA-31842-6");
pageTracker._setVar("gwoAdsense-3994574430-v05xml-c" + gwo_combination_str);
} catch(err) {}
</script>
<!-- End of Google Website Optimizer Tracking Script -->
<!-- End of Splittest Google Adsense #3994574430 v05 XML -->
