<!-- Google Website Optimizer Tracking Script -->
<script type="text/javascript">
if(typeof(_gat)!='object')document.write('<sc'+'ript src="http'+
(document.location.protocol=='https:'?'s://ssl':'://www')+
'.google-analytics.com/ga.js"></sc'+'ript>')</script>
<script type="text/javascript">
try {
var gwoTracker=_gat._getTracker("<?=$this->config['google_abSplit']['tracker']?>");
gwoTracker._trackPageview("/<?=$this->config['google_abSplit']['track']?>/test");
}catch(err){}</script>
<!-- End of Google Website Optimizer Tracking Script -->
