<?if (isset($this->config['google_afc']) && $this->config['google_afc']):?>
    <div class="google_afc_ad"><div id="<?=$this->config['container']?>" class="gads_box"></div></div>
    <script type="text/javascript">
        <?if (isset($this->config['google_afc_channel'])):?>
        google_ad_channel = '<?=$this->config['google_afc_channel']?>';
        <?endif;?>
        <?if (isset($this->config['query'])):?>
        google_hints = decodeURI('<?=$this->config['query']?>');
        <?endif;?>
        google_skip = google_adnum;
        google_ad_client = '<?=$this->config['google_afc_client']?>';
        google_ad_output = 'js';
        google_max_num_ads = '<?=$this->config['count']?>';
        google_encoding = 'utf8';
        google_safe = 'medium';
        <?if (isset($this->config['google_language']) && $this->config['google_language']):?>
           google_language = '<?=$this->config['google_language']?>';
        <?endif;?>
        google_adtest = '<?=$this->config['google_adtest']?>';
        <? if(isset($this->config['google_ad_type']) && isset($this->config['google_image_size'])): ?>
        google_ad_type = '<?=$this->config['google_ad_type'];?>';
        google_image_size = '<?=$this->config['google_image_size'];?>';
        <? else: ?>
        google_ad_type = 'text';
        <? endif; ?>
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
<?endif;?>