<script type="text/javascript">
    var k = 0;
    var google_adnum = 0;
    
    function google_ad_request_done(google_ads) {

    	k++;
    	<?foreach ($this->ads as $i => $ad):?>
    	if (k == <?=$i+1?>)
    		renderGoogle(google_ads, '<?=$ad['container']?>', 1, '[[Sponsored Links]]');
		<?endforeach;?>
    	
    	google_adnum = google_adnum + google_ads.length;
    	
    	return;
    }
</script>
<script type="text/javascript" src="<?=$this->script?>"></script>